.btn{
	height:150px;
	width:500px;
}

header{
	background-color:gold;
	text-align:center;
	margin-left:0px;
	margin-right:0px;
}

footer{
	background-color:#1111ff;
	color:#00dd00;
	margin-left:0px;
	margin-right:0px;
}

a:link{
	color:gold;
}

a:visited{
	color:#ffff00;
}